.message-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.message-wrapper-own {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
.message {
  background-color: rgb(124, 67, 177);
  color: aliceblue;
  border-radius: 4px;
  width: 40%;
  font-weight: 400;
  margin: 0;
  padding: 3px 6px;
}
.message-own {
  background-color: rgb(199, 199, 199);
  color: rgb(8, 8, 8);
  border-radius: 4px;
  width: 40%;
  font-weight: 400;
  margin: 0;
  padding: 3px 6px;
}
.date {
  font-size: 13px;
  font-weight: 400;
}
